.header{     background: #87509C;
    height: 100vh;
 }
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
    background: #643A79;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    padding: 6px 15px;
    border-radius: 5px }

.banner-content{    position: absolute;
    width: 100%;
        top: 50%;
    transform: translatey(-50%);
}


.banner-content h1{    
	max-width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
    
       font-weight: 700;
    font-size: 42px;

}
.banner-content  a{margin-top: 30px;}
.banner-content .btn-custom{    
	color: #fff;
    padding: 10px 40px;
    font-size: 24px;}
.btn-custom{    background: #f7ac0366;}  

/*********service section**********/ 


/*********HEADING**********/
.service-section{background: #2bca9e;}
.heading{    margin-top: 100px;}
.heading h1{max-width: 90%;
    margin: 0 auto;
    }
.heading span{    display: inline-block;
    width: 100px;
    height: 5px;
    background: #0f947d;}
.heading p{    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 80px;}
/*********HEADING**********/

/*********SERVICE**********/
.service{ text-align: center; }
.service img {}
.service h2{font-size: 20px;
    font-weight: 700;
    margin: 30px 10px;}
.service p{    margin-bottom: 100px;
}
/*********SERVICE**********/

/*********service section**********/



/*********team section**********/
.team-section{    background: #ecf7fb;}

/*********team heading**********/
.team-heading{    margin-top: 100px;
    text-align: center;}
.team-heading h1{}
.team-heading span{    display: inline-block;
    width: 100px;
    height: 5px;
    background: #c6c6dc}
.team-heading p{    margin-bottom: 75px;}
/*********team heading**********/
/*********team content**********/

.team{    text-align: center;}
.team img{}
.team h2{    font-size: 20px;
             color: black;
             margin-top: 25px;
             margin-bottom: 3px;
}
.team h5{    color: #56b9da;
    margin-bottom: 28px;
    font-size: 15px;}
.team p{margin-bottom: 60px;}

/*********team content**********/
/*********team section**********/


/*********skill section**********/
.skill-section{    background: white;}
.skill-heading{    text-align: center;
    margin-top: 100px;
}
.skill-heading h1{}
.skill-heading span{width: 100px;
    height: 5px;
    background: #c1bbbb;;
display: inline-block;}
.skill-heading p{width: 50%;
text-align: center;
margin: 0 auto;
}

.skill{ text-align: center;
	margin-top: 60px;

 }
.skill-percent{       position: relative;}
.skill-percent img{}
.skill-percent strong{   position: absolute;
                         top: 50%;
                         left: 50%;
                         font-size: 30px;
                         transform: translate( -50%,-50%);
                         font-weight: 100;}

.skill-percent sub{    font-weight: bold;}
.skill h3{margin-top: 14px;
    font-size: 20px;
    margin-bottom: 100px;
    text-transform: uppercase;
}
/*********skill section**********/
/*********portfolio section**********/

.portfolio-section{background: #ffdd99;}
.portfolio-heading{    margin-top: 100px;
    text-align: center;}
.portfolio-heading span{    width: 100px;
    height: 5px;
    background: #f3a341;
    display: inline-block;
} 
.portfolio-heading p{width: 50%;
    margin: 0 auto;}

.portfolio-section .nav{    margin-top: 20px;
    margin-bottom: 35px;}
.portfolio-section .nav .nav-item {} 
.portfolio-section .nav .nav-item .nav-link{    padding: 8px 14px;
    background: #f1c576;
    color: black;
    margin: 0 10px;
}
.portfolio-section .nav .nav-item .nav-link:hover{ color: black;
background: white;}


.PORTFOLIO{    margin-bottom: 30px;
    text-align: center;}
.PORTFOLIO img{}
 h3 {      font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.portfolio-btn{    margin: 0 auto;
    background:#17c2a4;
    padding: 14px 32px;
    margin-bottom: 110px;
}
.portfolio-btn a{    text-transform: uppercase;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
/*********portfolio section**********/

/*********about section**********/
.about-us-section{background: #d74680;
    }
.about-heading{    margin-top: 100px;
    text-align: center;
    color: white;
}
.about-heading h1{}
.about-heading span{ display: inline-block;
    width: 100px;
    height: 5px;
    background: #b3115c;}
.about-heading p{    width: 50%;
    margin: 0 auto;
    color: white;
    font-weight: 500;
}
.about-us-content{    margin-top: 55px;
    margin-bottom: 60px;}
.about-us-content img{}
.about-us-content p{    margin-top: 20px;
    color: white;
        width: 80%;
}
.about-us-content h5{    color: white;
    text-transform: uppercase;}
.about-us-content h6{ color:orange; }
/*********about section**********/


/*********contact section**********/
.contact-section{ background: #3c5499; }
.contact-heading{    text-align: center;
    margin-top: 100px;
}
.contact-heading h1{    text-transform: uppercase;
    color: white;}
.contact-heading span{ width: 100px;
    height: 5px;
    background: #1b32dc;
    display: inline-block;}

.contact-heading p{color: white;
    width: 65%;
    margin: 0 auto;}

.contact-form-section{}
.contact-area{
    margin-top: 50px;}
.contact-form{}
.input-text{    margin-left: auto;
    width: 60%;
 }
.input-text input{background: #273a71;
    border: none;
}
.input-text2{    width: 60%;
                 margin-right: auto;
                 margin-bottom: 40px;}
.input-text2 input{background: #273a71;
                 border: none;
                 margin-bottom: 40px;
}

.message{        text-align: center;
    width: 63%;
       margin: 0 auto;

}
.message textarea { background: #273a71;
           border: 0px;}

.btn-contact{text-align: center;
    width: 100%;
    margin-top: 20px;
    font-weight: 500;}

.btn-contact a{    display: inline-block;
    background: #30bae7;
    padding: 12px 40px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
        margin-bottom: 50px;
    margin-top: 20px;}
    

.footer-section{    background: #344b8e;
    padding: 20px;
}
.nav{}
.nav-item{}
.nav .nav-item .nav-link{color: white;
    font-size: 20px;
    padding: 0px 20px;
}
.nav .nav-item .nav-link:hover{ color: skyblue }
